﻿@model IEnumerable<LinksAndTags.Models.Links>
@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to Links&Tags</h1>
        <p>This app will allow you to store your favorite links</p>
        <a asp-controller="App" asp-action="links" class="btn btn-lg btn-success">View My links</a>
    </div>
</div>
