﻿@{ 
    ViewBag.Title = "Home Page";
}
@section Scripts{ 
    <script src="~/clientapp/dist/inline.bundle.js"></script>
    <script src="~/clientapp/dist/polyfills.bundle.js"></script>
    <script src="~/clientapp/dist/styles.bundle.js"></script>
    <script src="~/clientapp/dist/vendor.bundle.js"></script>
    <script src="~/clientapp/dist/main.bundle.js"></script>

}
<the-link></the-link>
