﻿<div class="col-md-6 col-md-offset-3">
    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage}}</div>
    <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i>Loading</div>
    <table class="table table-responsive table-striped">
        <tr ng-repeat="link in vm.links">
            <td>{{ link.name }}</td>
            <td>{{ link.dateCreated | date}}</td>
            <td>{{ link.url }}</td>
            <td><a ng-href="#/editor/{{ link.name }}" class="btn btn-sm btn-primary">Manage</a></td>
        </tr>
    </table>

    <form name="newLinkForm" novalidate ng-submit="vm.addLink()">
        <div class="form-group">
            <label for="name">URL</label>
            <input class="form-control" type="text" id="name" name="name" ng-model="vm.newLink.url" required ng-minlength="5" />
            <span ng-show="newLinkForm.name.$error.required" class="text-warning">Name is required</span>
            <span ng-show="newLinkForm.name.$error.minlength" class="text-warning">Must be at least 5 characters</span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-success btn-sm" ng-disabled="newLinkForm.$invalid" />
        </div>
        <div ng-include="'/views/linkEditorView.html'"></div>
    </form>
</div>