﻿<div>
    <div><a href="#/" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
    <div class="col-md-3">
        <h2>{{ vm.linkName }}</h2>
        <div ng-show="vm.isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i>Loading</div>
        <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage}}</div>

        <form novalidate name="newTagForm" ng-submit="vm.addTag()">
            <div class="form-group">
                <label>Tag</label>
                <input class="form-control" id="name" name="name" ng-model="vm.newTag.name" required/>
                <span class="text-danger" ng-show="newTagForm.name.$error.required">Required</span>
            </div>
            <div><input type="submit" value="Add" class="btn btn-success" ng-disabled="newTagForm.$invalid"/></div>
        </form>
        <br />
        <table class="table table-responsive table-striped">
            <tr>
                <th>Name</th>
            </tr>
            <tr ng-repeat="tag in vm.tags">
                <td>{{ tag.name }}</td>
            </tr>
        </table>

    </div>
</div>