﻿<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          #linkForm="ngForm">
        <fieldset>
            <legend>Link information</legend>
            <div class="form-group">
                <label class="col-md-2 control-label"
                       for="linkName">Link name</label>

                <div class="col-md-8">
                    <input class="form-control" id="linkName" type="text" 
                           placeholder="Name (required)" required minlength="3" 
                           [(ngModel)]="link.name" name="linkName"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="urlInput">Url</label>

                <div class="col-md-8">
                    <input class="form-control" id="urlInput" type="text" 
                           placeholder="URL (required)" required [(ngModel)]=link.url 
                           name="url" readonly />
                </div>
            </div>

            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div>