﻿<div class="col-md-3">
    <div><a [routerLink]="['/']" queryParamsHandling="preserve" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
    <table class="table table-responsive table-striped">
        <tr>
            <th class="text-primary">{{ title }} - tags</th>
        </tr>
        <tr *ngFor="let tag of tags">
            <td>{{ tag.name }}</td>
        </tr>
    </table>
</div>