﻿@model LinksAndTags.ViewModels.LoginViewModel
@{ 
    ViewBag.Title = "Login";
}
@section Scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div>
    <div class="col-md-6 col-md-offset-3">
        <h3>Login</h3>
        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <div class=" form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username"></span>
            </div>
            <div class=" form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success"/>
            </div>
            <div class="form-group-sm">
                <a asp-action="Register" asp-controller="Auth">Not a member? Sign up</a>
            </div>
        </form>
    </div>
</div>