﻿<div class="col-md-6 col-md-offset-3">
    <div id="addLink" class="row">       
        <form novalidate> 
            <div class="input-group">
                <input #urlInput="ngModel" class="form-control" type="url" name="text" [(ngModel)]='url' 
                       pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})" 
                       placeholder="Paste or enter url" required />
                <span class="input-group-btn"><button [disabled]="urlInput.invalid" type="submit" class="btn btn-success" [routerLink]="['/finalForm']" [queryParams]="{url: url}">Add</button></span>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
            <input type="text" [(ngModel)]='listFilter' />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Filtered by: {{ listFilter }}</h3>
        </div>
    </div>
    <div *ngIf="isBusy" class="text-center"><i class="fa fa-spinner fa-spin"></i>Loading</div>
    <table class="table table-responsive table-striped">
        <tr *ngFor="let link of filteredLinks">
            <td>{{ link.name }}</td>
            <td>{{ link.dateCreated | date:'short'}}</td>
            <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
            <td><a [routerLink]="[link.name,'edit']" [queryParams]="{filterBy: listFilter}" class="btn btn-sm btn-primary">Edit</a></td>
            <td><a [routerLink]="[link.name,'tags']" id="tagButton" class="btn btn-primary fa fa-tag"></a></td>
            <td><a class="fa fa-remove text-danger" (click)="deleteLink(link.name)"></a></td>
        </tr>
    </table>
</div>