﻿<div class="col-md-6 col-md-offset-3">
    <div><a [routerLink]="'/'" class="btn btn-group-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
    <h3>Data</h3>
    <div class="alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form #form="ngForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group" [class.has-error]="linkName.invalid">
            <label class="control-label" for="name">Name</label>
            <input #linkName="ngModel" type="text" minlength="5" class="form-control" name="name" id="name" [(ngModel)]="finalData.name" required />
            <div *ngIf="linkName.invalid" class="alert alert-danger">Name is required</div>
        </div>
        <div class="form-group">
            <label for="url">Url</label>
            <input type="text" class="form-control" id="url" name="url" [(ngModel)]="finalData.url" readonly/>
        </div>
        <h4>Would you like to add some of these tags?</h4>
        <div class="checkbox" *ngFor="let tag of finalData.tags; index as i" [attr.data-index]="i">
            <label><input #checkTag type="checkbox" name="{{ 'checkbox' + tag }}" id="{{ 'checkbox' + tag }}" (ngModel)="finalData.tags[i]" (ngModelChange)="CheckBoxValueChange(checkTag.checked, finalData.tags[i])"/>{{ tag }}</label>
        </div> 
        <div class="form-group">
            <input type="text" class="form-control" name="inputTags" [(ngModel)]="newTags" placeholder="Add tags separated by commas" />
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-success">Save</button>
    </form>
    Angular: {{ form.value | json }}<br />
    Model: {{ finalData | json }}
</div>